/* Brand Colors */

$green-500: #55b3bb;
$yellow-500: #e8c891;
$cyan-500: #719cec;
$purple-500: #5651ca;
$purple-300: #837fe8;
$pink-500: #d078f0;
$magenta-500: #cb5394;

$black: #231f20;
$white: #ffffff;
$grey-100: #f8f8f8;

/* Breakpoints */
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 570px;
