.theme-light {
  --page-background-color: #fbfbfb;
  --card-background-color: white;
  --button-background-color: white;
  --header-background-color: #5651ca;
  --hero-background-color: #5651ca;

  --text-default-color: #484848;
  --text-accent-color: #5651ca;

  --text-accent-light-color: #c2c2c2;
  --text-muted-color: #c2c2c2;
  --text-muted-light-color: #c2c2c2;
}
