.networkingSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 60px;
}

.networking-intro,
.networking-info {
  width: 50%;
  margin: 0 20px;
  height: 810px;
}

.networking-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $purple-500;
  border-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 6px 12px rgba(86, 81, 202, 0.5);
}

.networking-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $white;
  border-radius: 5px;
  padding: 0 20px;
  opacity: 0.9;
}

.networking-img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.networking-img {
  width: 70%;
}

.networking-title {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 37px;
  text-align: center;
  color: $white;
  margin: 30px 0 40px 0;
}

.networking-description {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: left;
  color: $grey-600;
  margin: 10px 0 20px 0;
}

.networking-topics {
  list-style-type: disc;
  color: $green-500;
  margin-bottom: 30px;
}

.networking-topic {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: left;
  margin-left: 30px;
}

.networking-button {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: $purple-500;

  background-color: $white;
  border-radius: 4px;
  padding: 16px 32px;
  margin-bottom: 40px;
}

.networking-date {
  align-items: center;
  font-family: $font-family-primary;
  font-size: 1.25rem;
  font-weight: 400;
  color: $black;
  padding: 16px 10px;
  text-align: left;
}

.networking-day,
.networking-hour {
  margin-right: 18px;
}

.networking-icon {
  color: $yellow-500;
}

.networking-people{
  margin: 0;
}

.networker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.networker-img--wrapper {
  width: 90px;
  height: 90px;
  margin-bottom: 16px;
  transition: all 0.2s ease-in-out;
}

.networker-img--wrapper:hover {
  transform: scale(1.2);
}

.networker-img {
  max-width: 100px;
  width: 100%;
  border-radius: 50%;
}

.networker:nth-child(even) .networker-img--wrapper > .networker-img {
  border: 5px solid $yellow-500;
  border-radius: 50%;
}

.networker:nth-child(even) .networker-img--wrapper > .networker-img:hover {
  box-shadow: 2px 6px 12px rgba(232, 200, 145, 0.5);
}

.networker:nth-child(odd) .networker-img--wrapper > .networker-img {
  border: 5px solid $pink-500;
  border-radius: 50%;
}

.networker:nth-child(odd) .networker-img--wrapper > .networker-img:hover {
  box-shadow: 2px 6px 12px rgba(203, 83, 148, 0.5);
}

.networker-name {
  min-height: 40px;
  vertical-align: middle;
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  color: $purple-500;
  margin-bottom: 12px;
}

.networker-role {
  max-width: 260px;
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 16px;
  text-align: center;
  color: #484848;
}

@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
  .networkingSection {
    margin-bottom: 60px;
  }
  .networking-intro,
  .networking-info {
  width: 50%;
  margin: 0 20px;
  height: 1060px;
}
}

@media (max-width: #{$mobile-width}) {
  .networkingSection {
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 80px;
  }

  .networking-intro,
  .networking-info {
    width: 95%;
    margin: 20px;
  }

  .networking-intro {
    height: 350px;
  }
  .networking-info {
    height: auto;
  }

  .networking-people {
    width: 100%;
    margin: 0;
  }

  .networking-title {
    font-size: 1.4rem;
  }

  .networking-description,
  .networking-topics,
  .networking-date {
    padding: 0 6%;
  }

  .networking-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .networking-button,
  .networking-day,
  .networking-hour {
    margin-top: 8px;
  }
}

@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
  .networking-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .networking-button,
  .networking-day,
  .networking-hour {
    margin-top: 8px;
  }
}
