.scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $grey-500 $grey-400;
}

.scrollbar::-webkit-scrollbar {
  width: 11px;
}

.scrollbar::-webkit-scrollbar-track {
  background: $grey-400;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: $grey-500;
  border-radius: 6px;
  border: 3px solid $grey-400;
}

@media (max-width: #{$mobile-width}) {
  .scrollbar {
    overflow-y: initial;
  }
}
