.talksSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 561px;
  margin-bottom: 60px;
}

.talks-intro,
.talks-carousel {
  width: 50%;
  margin: 0 20px;
  height: 561px;
}

.talks-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 20px;
  background-color: $purple-500;
  border-radius: 5px;
  opacity: 0.9;
  box-shadow: 0 6px 12px rgba(86, 81, 202, 0.5);
}

.talks-carousel {
  position: sticky;
  top: 0;
  margin: 0 20px 0 10px;
}

.talks-img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.talks-img {
  width: 70%;
}

.talks-title {
  font-family: $font-family-secondary;
  font-style: normal;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 37px;
  text-align: center;
  color: $white;
  margin: 30px 0 40px 0;
}
.talks-button {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
  color: $purple-500;

  background-color: $white;
  border-radius: 4px;
  padding: 16px 32px;
  margin-bottom: 40px;
}

.talks-card {
  display: flex;
  align-items: center;
  border: 1px solid $grey-300;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 2px 6px 8px $shadow;
  margin-bottom: 8px;
}
.talks-photo {
  max-width: 120px;
  padding: 18px;
}

.talks-img{
  width: 100%;
}

.talks-texture {
  position: relative;
  top: -30px;
  left: -10px;
  opacity: 0.8;
}

.talks-card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.talks-card--title {
  font-family: $font-family-secondary;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 22px;
  color: $grey-600;
  padding: 16px 10px;
  text-align: left;
}

.talks-card--speaker {
  font-family: $font-family-secondary;
  font-size: 1rem;
  font-weight: 500;
  color: $purple-500;
  text-transform: uppercase;
  text-align: left;
  padding: 8px 10px 0 10px;
}

.talks-card--rol {
  max-width: 600px;
  font-family: $font-family-secondary;
  font-size: 0.875rem;
  font-weight: 400;
  color: $purple-500;
  padding: 4px 10px;
  text-align: left;
  box-sizing: border-box;
}

.talks-date {
  align-items: center;
  font-family: $font-family-primary;
  font-size: 1rem;
  font-weight: 400;
  color: $black;
  padding: 16px 10px;
  text-align: left;
}

.talks-day,
.talks-hour {
  margin-right: 18px;
}

.talks-icon {
  color: $yellow-500;
}

@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
  .talks-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .talks-day,
  .talks-hour {
    margin-top: 8px;
    margin-right: 0;
  }
}

@media (max-width: #{$mobile-width}) {
  .talksSection {
    flex-direction: column;
    height: auto;
    margin: 0;
  }

  .talks-intro,
  .talks-carousel {
    width: 95%;
    margin: 20px;
  }

  .talks-intro {
    height: 350px;
  }
  .talks-carousel {
    height: auto;
  }

  .talks-card--title {
    font-size: 1.25rem;
  }

  .talks-card--speaker {
    font-size: 0.875rem;
  }

  .talks-card--rol {
    font-size: 0.75rem;
  }

  .talks-title {
    font-size: 1.4rem;
  }

  .talks-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .talks-day,
  .talks-hour {
    margin-top: 8px;
    margin-right: 0;
  }
}
